body {
  font: 0.8em sans-serif;
  margin: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 0.15em;
}

div.bio_buttons {
    position: fixed;
    right: 0;
    top: 130px;
    width: 8em;
    margin-top: -2.5em;
}
div.bio_buttons div {
    background-color: #A5D6A7;
    padding: 3px;
    margin: 7px;
}

div.legend {
  position: fixed;
  right: 20px;
  top: 400px;
  width: 12em;
}
div.legend div {
  padding: 3px;
}
div.legendTitle {
  position: fixed;
  right: 20px;
  top: 370px;
  width: 12em;
  background-color: white;
  opacity: 0.8;
}

div.inputsection {
  position: fixed;
  right: 0;
  top: 5%;
  width: 23em;
  margin-top: -2.5em;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 300px;					
    height: 400px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: white;	
    border: 1px;
    border-color: black;		
    border-radius: 8px;			
    pointer-events: none;		
}
text.titles {
  font: 1.5em sans-serif;
}

text.warningLabel {
  font: 1.5em sans-serif;
  color: red;
}

.tooltipTable{
	display: table;
	width: 100%;
}
.tooltipTableRow {
	display: table-row;
}
.tooltipTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.tooltipTableCell, .tooltipTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.tooltipTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.tooltipTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.tooltipTableBody {
	display: table-row-group;
}

#pre_reprot {
  text-align: left;
  width: 90%;
  height: 30px;
  padding: 30px;
  font: 12px sans-serif;
  background: white;
}

#chemical_report {
  text-align: left;
  width: 90%;
  padding: 30px;
  font: 12px sans-serif;
  background: white;
}

.report table {
  border-collapse: collapse;
}
.report table, th, td {
  border: 1px solid black;
}

#conclusion {
  text-align: left;
  width: 90%;
  padding: 30px;
  font: 12px sans-serif;
  background: white;
}

.warningE {
  font: 10px;
  color: red;
}
/*pop up box */
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

#expBox {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:500px;
  z-index:50;
  padding: 25px 25px 20px;
}

#expBox p, #expBox.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

/* pop up box - Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
