---
layout: projects
title: Project Page
---
	<h1>{{ page.title }}</h1>
	<div id="grid">
	  {% for post in site.posts %}
	    <div class="grid-item">
		<div class="item_title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
		{% if post.img %} 
		<div class="item_img"><a href="{{ post.url }}" title="{{ post.title }}"><img src="/images/{{ post.img }}"></a></div>
		{% endif %}
		<div class="item_caption"> Posted at: {{ post.date | date: "%b %d, %Y" }}</div>	    
	    </div>
	  {% endfor %}
	</div>
