<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/cebs_style.css">
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body onresize="Chart.render()">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">CV</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
    <div class="container">
        <form>
            <input type="hidden" id="chemical_name" >
        </form>
        <div id="chemical_chart"></div>
        <script src="/js/chemical_chart.js"></script>

    </div>
</body>
</html>