<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="/js/d3.v3.min.js"></script>
<script src="/js/queue.v1.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/rangeslider.min.js"></script>
<link href="/css/rangeslider.min.css" rel="stylesheet">
<style>
div#svg {
    position: relative;
}
h2 {
    text-align: center;
}
body {
    width: 980px;
    font: sans-serif;
}
.delay {
    fill: orange;
    opacity: 0.7;    
}
.notarrived {
    fill: red;
    opacity: 0.7;    
}
path:hover {
	fill-opacity: .7;
}

div.years_buttons {
    position: absolute;
    top: 60px;
    left: 60px;
}
div.years_buttons div {
    background-color: #A5D6A7;
    padding: 3px;
    margin: 7px;
}

div.years_slider {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 25px;
    height: 380px;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 200px;					
    height: 180px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: white;	
    border: 1px;
    border-color: black;		
    border-radius: 8px;			
    pointer-events: none;		
}

div.carrier_name {	
    position: absolute;			
    text-align: left;								
    height: 25px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: white;	
    border: 1px;
    border-color: black;		
    border-radius: 5px;			
    pointer-events: none;		
}

.tooltips td,
.tooltips th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font: 12px sans-serif;
}

div.selector {
    position: absolute;			
    text-align: left;
    top: 180px;
    left: 850px;			
    width: 50px;					
    height: 200px;					
    padding: 5px;				
    font: 12px sans-serif;			
}
div.selector div{
    background-color: #A5D6A7;
    padding: 3px;
    margin: 3px;
}

.legend text {
    font: 16px sans-serif;
}
.size_legend {
    font: 12px sans-serif;
}
text.year_label {
    font: 20px sans-serif;
}

.rangeslider__fill {
    background: gray;
}
</style>
<script type="text/javascript">
    function draw(error, geo_data, airport_data, carrier_data, data){
        'use strict';
        /*
        geo_data:    csv US map data
        airport_data:   include airport's ID (iata code) with full name,
                        and location geo info.
        carrier_data:   include carrier short name & full name.
        data:   flight delay dataset.
        */
        //create a function to load airport geo data
        function make_array(data){
            /*
            iata - id
            lat / long - geo data
            */
            var new_data = {};
            data.forEach(function(d) {
                var key = d['iata'];
                new_data[key] = d;   
            });
            return new_data;
        }
        
        function get_airport_coords(id){
                var lat = window.airport_array[id]['lat'];
                var lon = window.airport_array[id]['long'];    
            return [+lon, +lat];
        }

        function carrier_array(data){
            /*
            code - id
            Description - carrier full name
            */
            var new_data = {};
            data.forEach(function(d) {
                var key = d['Code'];
                new_data[key] = d['Description'];   
            });
            return new_data;
        }

        function create_top_lists(data) {
            /*
            Load all flight data return a list including 
            top 10 most flight carrier list by year
            */
            //nest the data by year and carrier
            var carrier_count = d3.nest()
                    .key(function(d){return d.year;})
                    .key(function(d){return d.carrier;})
                    .rollup(function(leaves){
                        var total_flights = d3.sum(leaves, function(d) {
                            return d['arr_flights'];
                        });
                        return {
                            'total' : total_flights,
                        };
                    }).entries(data);

            var all_year = [];
            for (var year_c = 0; year_c < 11; year_c++) {
                var sorted_carrier = carrier_count[year_c].values.sort(function (a, b) {
                                                            return b.values['total'] - a.values['total'];
                                                                    });
                var top_10 = [];
                for (var i = 0; i < 10; i++) {
                    top_10.push(sorted_carrier[i].key);
                }
                top_10.push('all');
                all_year.push(top_10);
            }  
            return all_year;         
        }
        /*
        global data section
        */
        //set airport_data to global
        window.airport_array = make_array(airport_data);
        //set carrier_data to global
        window.carrier_array = carrier_array(carrier_data);
        //set the carrier list to global
        window.all_year_top = create_top_lists(data);
        //set a global year value
        window.global_year = 2006;
        //pre set carrier selector to all
        window.selected_carrier = 'all';
        //global data
        window.data = data;

        /*Size setting for bl.ocks.org */
        var margin = 0,
            width = 960 - margin,
            height = 500 - margin;

        var svg = d3.select('#svg')
                    .append('svg')
                    .attr('width', width + margin)
                    .attr('height', height + margin)

        /*            
        Create base US map with Zoom and move features.
        */
        //set map center
        var projection = d3.geo.albersUsa()
                        .translate([width/2, height/2]); 
        
        var path = d3.geo.path()
                    .projection(projection);

        //add zoom in zoom out
        var zoom = d3.behavior.zoom()
                    .translate(projection.translate())
                    .scale(projection.scale())
                    .scaleExtent([2*height, 16 * height])
                    .on('zoom', zoomed);

        function zoomed() {
            //resize or relocate when the map is zoomed.
            projection.translate(d3.event.translate).scale(d3.event.scale);
            g.selectAll('path').attr('d', path);
            g.selectAll('circle')
                .attr('cx', function(d) {return projection(d.values['coords'])[0];})
                .attr('cy', function(d) {return projection(d.values['coords'])[1];});
        }

        var g = svg.append('g')
                    .call(zoom);

        //add a move functon for the map.
        function clicked(d) {
            var centroid = path.centroid(d);
            var translate = projection.translate();

            projection.translate([
                translate[0] - centroid[0] + width / 2,
                translate[1] - centroid[1] + height / 2
            ]);

            zoom.translate(projection.translate());

            g.selectAll('path').transition()
                .duration(500)
                .attr('d', path);
            g.selectAll('circle')
                .transition()
                .duration(500)
                .attr('cx', function(d) {return projection(d.values['coords'])[0];})
                .attr('cy', function(d) {return projection(d.values['coords'])[1];});
            }

        
        //draw map
        g.append('g')
            .attr('class', 'map')
            .selectAll('path')
            .data(geo_data.features)
            .enter()
            .append('path')
            .attr('d', path)
            .on('click', clicked)
            .style('fill', 'lightgrey')
            .style('stroke', 'black')
            .style('stroke-width', 0.25);
        
        /*
        Tooltip section
        Making tooltip which shows mouse on a circle.
        */
        //create airport tooltip div
        var div = d3.select('body')
                .append('div')	
                .attr('class', 'tooltip')				
                .style('opacity', 0);
        
        //create tooltip functions
        function show_tooltip(d){
            
            var this_airport = window.airport_array[d.key];
            var this_info = d.values;

            //setup a html var to display infomation for each element by airport ID
            var info_table = '<table class = "tooltips">' +
                            '<tr><th> &nbsp; </th><th> Flights </th><th> Rate </th></tr>' +
                            '<tr><td> Delay </td><td>' + this_info.delay + 
                                '</td><td>' + this_info.rate_delay + '% </td></tr>' +
                            '<tr><td> Not Arrived </td><td>' + this_info.notarrived + 
                                '</td><td>' + this_info.rate_notarrived + '% </td></tr>' +    
                            '</table>';
            var print_html =    '<b>Tooltip</b> <br />' +
                                'Year: ' + window.global_year + '<br />' +
                                'Airport: ' + this_airport.airport + '<br />' +
                                'City: ' + this_airport.city + '<br />' +
                                'State: ' + this_airport.state + '<br />' +
                                'Total Flights: ' + this_info.total + '<br />' +
                                info_table;
                        
            div.transition()
                .duration(400)
                .style('opacity', 0.9);
            div.html(print_html)
                .style('left', (d3.event.pageX) + 'px')		
                .style('top', (d3.event.pageY - 28) + 'px');
        }
        function hide_tooltip(d){
            div.transition()
                .duration(600)
                .style('opacity', 0);
        }

        //create airport tooltip div
        var div_carrier = d3.select('body')
                .append('div')	
                .attr('class', 'carrier_name')				
                .style('opacity', 0);

        function show_carrier(d){
            if (d === 'all') {
                var carrier_name = 'All Carriers';
            } else {
                var carrier_name = window.carrier_array[d];
            }
            //get the length of the name string, use for styling
            var size = carrier_name.length;
            div_carrier.transition()
                .duration(400)
                .style('opacity', 0.9);
            div_carrier.html(carrier_name)
                .style('width', (size * 6) + 'px')
                .style('left', (d3.event.pageX - (size * 6) - 5) + 'px')		
                .style('top', (d3.event.pageY - 15) + 'px');
        }

        //two simple return key functions for data use.    
        function key_delay(d) {
            return d['key'];
        }
        function key_notarr(d) {
            return d['key'];
        }

        function nest_data(data, selected_carrier){
            /*
            nest flight data by year and airport's ID(iata code)
            return:
            total: combine all arr_flights with same airport and same year.
            delay: combine all arr_del15 with same airport and same year.
            notarrived: combine all arr_canceled + arr_diverted with same airport and same year.
            coords: location of the airport [long, lat].
            rate_delay: calculate by delay and total.
            rate_notarrived: calculate by notarrived amd total.
            */
            
            var nested = d3.nest()
                    .key(function(d){
                        return d.year;
                    })
                    .key(function(d){
                        return d.airport;
                    })
                    .rollup(function(leaves){
                        
                        var total_delay = d3.sum(leaves, function(d) {
                            return d['arr_del15'];
                        });
                        var total_notarrived = d3.sum(leaves, function(d){
                            var total = +d['arr_cancelled'] + +d['arr_diverted'];
                            return total;     
                        });
                        var total_flights = d3.sum(leaves, function(d) {
                            return d['arr_flights'];
                        });
                        var rate_delay = total_delay * 100 / total_flights
                        var rate_notarrived = total_notarrived * 100 / total_flights
                        var coords = get_airport_coords(leaves[0]['airport']);
                        return {
                            'total' : total_flights,
                            'delay' : total_delay,
                            'notarrived' : total_notarrived,
                            'coords' : coords,
                            'rate_delay' : rate_delay.toFixed(2),
                            'rate_notarrived' : rate_notarrived.toFixed(2)
                        };
                    });
            if (selected_carrier === 'all') {
                nested = nested.entries(data);
            } else {
                nested = nested.entries(data.filter(function(d){return d.carrier === selected_carrier;}));
            }
            window.current_selector = selected_carrier;
            return nested;
        }
        
        //use nest_data function to create all carrier nested d3 data.
        var nested = nest_data(data, window.selected_carrier);
        
        //rate value is 0~100, create a simple fix radius
        //implement sqrt() for the radius to scale the area instead of radius 
        var radius = d3.scale.sqrt()
                        .domain([0, 100])
                        .range([0, 40]);
        
        //set the data to the first year
        var year_data = nested[0].values;

        //add a warning label, display when the selected carrier has no data in this year.
        var warning = g.append('text')
                    .attr('class', 'warning')
                    .attr('x', 200)
                    .attr('y', 50);
        
        //add a year label display year.
        var year_label = g.append('text')
                    .attr('class', 'year_label')
                    .attr('x', 30)
                    .attr('y', 30);
        year_label.text('Year: 2006');

        //draw delay bubble
        g.append('g')
            .attr('class', 'bubble delay')
            .selectAll('circle')
            .data(year_data)
            .enter()
            .append('circle')
            .attr('cx', function(d) {return projection(d.values['coords'])[0];})
            .attr('cy', function(d) {return projection(d.values['coords'])[1];})
            .attr('r', 0.1)
            .transition()
            .duration(500)
            .attr('r', function(d) {return radius(d.values['rate_delay']);});
                  
        //draw notarrived bubble
        g.append('g')
            .attr('class', 'bubble notarrived')
            .selectAll('circle')
            .data(year_data)
            .enter()
            .append('circle')
            .attr('cx', function(d) {return projection(d.values['coords'])[0];})
            .attr('cy', function(d) {return projection(d.values['coords'])[1];})
            .attr('r', 0.1)
            .transition()
            .duration(500)
            .attr('r', function(d) {return radius(d.values['rate_notarrived']);});

        function update(){
            if (window.current_selector !== window.selected_carrier) {
                /*
                if new global filter setting is different from the current one
                run nest_data re-nest data by filter setup
                */
                nested = nest_data(window.data, window.selected_carrier);
            }
            
            //set a empty warning label      
            warning.text('');

            var idx = 0;
            for (var i = 0; i < nested.length; i++) {
                if (+nested[i].key === window.global_year) {
                    idx = i;
                }
            }
            if (idx === 0 && +nested[0].key !== window.global_year) {
                /*
                if unable to get the selected carrier flight data
                print a warning, and set the carrier fliter to ALL
                */
                var warning_message = 'Warning: ' + window.selected_carrier + 
                    ' has no data in ' + window.global_year + '. Filter reset to ALL.';                
                warning.text(warning_message);
                nested = nest_data(window.data, 'all');

                //set index
                idx = window.global_year - 2006;
            }

            //display year
            year_label.text('Year: '+ window.global_year);
            var current_carrierlist = window.all_year_top[(window.global_year - 2006)];

            var year_data = nested[idx];

            //update new data
            var delay_circles = g.select('.delay')
                                .selectAll('circle')
                                .data(year_data.values, key_delay);
            var notarrived_circles = g.select('.notarrived')
                                .selectAll('circle')
                                .data(year_data.values, key_notarr);

            //transition to radius 0 circle not remove
            //keep all circles
            delay_circles.exit()
                        .transition()
                        .duration(750)
                        .attr('r', 0);
            notarrived_circles.exit()
                        .transition()
                        .duration(750)
                        .attr('r', 0); 
            
            projection.translate(); 
            
            //create new circles with r = 0
            delay_circles.enter()
                .append('circle')
                .attr('r', 0);
            notarrived_circles.enter()
                .append('circle')
                .attr('r', 0);

            //resize and relocate circles
            delay_circles.on('mouseover', show_tooltip)
                .on('mouseout', hide_tooltip)
                .attr('cx', function(d) {return projection(d.values['coords'])[0];})
                .attr('cy', function(d) {return projection(d.values['coords'])[1];})
                .transition()
                .duration(500)
                .attr('r', function(d) {return radius(d.values['rate_delay']);});
            notarrived_circles.on('mouseover', show_tooltip)
                .on('mouseout', hide_tooltip)
                .attr('cx', function(d) {return projection(d.values['coords'])[0];})
                .attr('cy', function(d) {return projection(d.values['coords'])[1];})
                .transition()
                .duration(500)
                .attr('r', function(d) {return radius(d.values['rate_notarrived']);});

            //create a carrier filter
            var selector = d3.select('.selector');
            selector.selectAll('div').remove();  //clean up
            selector.selectAll('div')
                    .data(current_carrierlist)
                    .enter()
                    .append('div')
                    .append('text')
                    .on('mouseover', show_carrier)
                    .on('mouseout', hide_tooltip)
                    .attr('y', function(d, i) {
                        return i * 20 + 5;
                    })
                    .attr('x', 5)
                    .text(function(d) {
                        if (d === 'all'){
                            return 'ALL';
                        } else {
                            return d;                           
                        }
                    });
            
            selector.selectAll('div')
                    .transition()
                    .duration(500)
                    .style('background', function(d) {
                        if (d === window.selected_carrier){
                            return '#2E7D32';
                        } else {
                            return '#A5D6A7';
                        }
                    })
                    .style('color', function(d) {
                        if (d === window.selected_carrier){
                            return 'white';
                        } else {
                            return 'black';
                        }
                    });
            
            selector.selectAll('div')
                    .on('click', function(d) { 
                        //set the global carrier value, and re-update map
                        window.selected_carrier = d;
                        update();
                    });
        }

        var year_idx = 0;
        var year_interval = setInterval(function() {
            //animation: year + 1 and call update function
            update();

            year_idx++;  
            if(year_idx >= 11) {
                //when the animation done, display buttons
                clearInterval(year_interval);

                //Create year buttons, use for selecting year, 
                //then call update function to update the plot.
                var year_list = [2006, 2007, 2008, 2009, 2010, 2011, 
                                2012, 2013, 2014, 2015, 2016];
                var buttons = d3.select('#svg')
                        .append('div')
                        .attr('class', 'years_buttons')
                        .selectAll('div')
                        .data(year_list)
                        .enter()
                        .append('div')
                        .attr('class', function(d) {return ('Y' + d);})
                        .text(function(d) {return d;});

                buttons.on('click', function(d) {
                     
                    d3.select('.years_buttons')
                        .selectAll('div')
                        .transition()
                        .duration(500)
                        .style('background', '#A5D6A7')
                        .style('color', 'black');

                    d3.select(this)
                        .transition()
                        .duration(500)
                        .style('background', '#2E7D32')
                        .style('color', 'white');
                    
                    window.global_year = d;
                    var idx = d - 2006;
                    jQuery('#slider').val(10 - idx).change();

                    update();
                });
                
                //same methods as buttons, a slider way
                var slider = d3.select('#svg')
                        .append('div')
                        .attr('class', 'years_slider')
                        .html('<input '+ 'type = \'range\' ' +
                                'id = \'slider\' ' +
                                'min = \'0\' ' +
                                'max = \'10\' ' +
                                'step = \'1\' ' +
                                'value = \'0\' ' +
                                'data-orientation = \'vertical\' >');

                jQuery('#slider').rangeslider({
                    polyfill: false,
                    onSlide: function(position, value) {
                        var idx = 10 - value;
                        var year = 2016 - value;
                        
                        //reset all button color
                        d3.select('.years_buttons')
                            .selectAll('div')
                            .transition()
                            .duration(500)
                            .style('background', '#A5D6A7')
                            .style('color', 'black');
                        
                        //set current year color
                        d3.select('.years_buttons .Y' + year)
                            .transition()
                            .duration(500)
                            .style('background', '#2E7D32')
                            .style('color', 'white');
                        
                        window.global_year = year;
                        update();
                    }
                });

                //add buttons for the TOP 10 carrier list
                var carrier_filter = d3.select('.selector')
                                    .selectAll('div');                
            } else {
                window.global_year = 2006 + year_idx;
            }
        },1000);

        /*
        create a legned to explain circle color means
        */
        var legend = svg.append('g')
                .attr('class', 'legend')
                .attr('transform', 'translate(' + (width - 350) + ',' + 30 + ')')
                .attr('border',1)
                .selectAll('g')
                .data(['Rate of Delay Flights', 'Rate of Canceled or Diverted Flights'])
                .enter().append('g');

        legend.append('circle')
                .attr('cy', function(d, i) {
                    return i * 30;
                })
                .attr('r', 5)
                .attr('fill', function(d) {
                    if (d == 'Rate of Delay Flights') {
                        return 'orange';
                    } else {
                        return 'red';
                    }
                })
                .attr('opacity', function(d) {
                    if (d == 'Rate of Delay Flights') {
                        return 0.7;
                    } else {
                        return 0.7;
                    }
                });

        legend.append('text')
            .attr('y', function(d, i) {
                return i * 30 + 5;
            })
            .attr('x', 25)
            .text(function(d) {
                return d;
            });

        var legend_border = svg.append('rect')
                .attr('x', (width - 360))
                .attr('y', 19)
                .attr('height', 50)
                .attr('width', 325)
                    .style('stroke', 'black')
                    .style('fill', 'none')
                    .style('stroke-width', 0.5);
        
        /*
        create a legned to explain circle size means
        */
        var size_legend = svg.append('g')
                .attr('class', 'size_legend')
                .attr('transform', 'translate(650, 80)')
                .attr('border',1)
                .selectAll('g')
                .data([10, 25, 50, 100])
                .enter().append('g');

        size_legend.append('circle')
                .attr('cx', 60)
                .attr('cy', function(d) {return (80 - radius(d));})
                .attr('r', function(d) {return radius(d);})
                    .style('stroke', 'black')
                    .style('fill', 'none')
                    .style('stroke-width', 1);

        size_legend.append('line')
                .attr('x1', 60)
                .attr('y1', function(d) {return (80 - (2* radius(d)));})
                .attr('x2', 140)
                .attr('y2', function(d) {return (80 - (2* radius(d)));})
                    .style('stroke', 'black')
                    .style('stroke-width', 1);
            
        size_legend.append('text')
                .attr('x', 145)
                .attr('y', function(d) {return (83 - (2* radius(d)));})
                .text(function(d){return (d + '%')});

        /*
        Carrier selector label
        */
        var selector_label = g.append('text')
                .attr('class', 'carrier_label')
                .attr('x', (width - 180))
                .attr('y', 170)
                .text('Top 10 carriers:');

        var carrier_selector = d3.select('#svg')
                .append('div')
                .attr('class', 'selector');

        var warning_label = d3.select('#svg')
                .append('div')
                .attr('class', 'warning');                    
        }
      </script>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
    
    <div class="container">
			<h2>Flights Misery Map between 2006 and 2016</h2>
      <div id="svg">
          <script>
              /* 
              Use queue to handle three files in once.
              */
              queue()
                  .defer(d3.json, '/data/us-states.json')
                  .defer(d3.csv, '/data/airports.csv')
                  .defer(d3.csv, '/data/carriers.csv')
                  .defer(d3.csv, '/data/cleaned_data.csv')
                  .await(draw); 
          </script>
      </div>
    
			{{ content }}
			
			</div><!-- /.container -->
</body>
</html>
