<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    		<!-- JS library -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		<!-- link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		
		<script>
			var $grid = $('#grid').imagesLoaded( function() {
			  // init Masonry after all images have loaded
			  $grid.masonry({
			    	itemSelector: '.grid-item',
  				columnWidth: '.grid-item'
			  });
			});
			
		</script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		<div id="container">
    
    		{{ content }}
        
		</div><!-- /#container -->
		<footer>
    		<ul>
        		<li><a href="mailto:fxietech@gmail.com">email</a></li>
        		<li><a href="https://github.com/AL-XF/">github.com/AL-XF</a></li>
			</ul>
		</footer>
	</body>
</html>
